header {
  background: rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none !important;
}

#map {
  position: relative;
}

#info-box {
  position: absolute;
  background: var(--white-color);
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: none;
}

.map-bg {
  background: url(https://g2.by/h6ye) no-repeat;
  background-position: center;
  background-size: cover;
}

/* Search Custom */
.search {
  position: absolute;
  top: 4px;
}

.search-bar {
  background-color: var(--white-color);
  width: 0;
  overflow: hidden;
}

.bar-show {
  width: 100%;
  animation-name: slideIn;
  animation-duration: 1.5s;
}

@keyframes slideIn {
  0% {
    left: 100%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

.dropdown {
  background-color: var(--primary-color);
  cursor: pointer;
}

.dropdown-list {
  background-color: var(--white-color);
  max-height: 0;
  transition: 0.5s ease;
}

.list-show {
  max-height: 300px;
}

.dropdown-list-item:hover {
  transition: margin-left 0.2s ease;
}

.dropdown-list-item:hover {
  margin-left: 6px;
  color: var(--primary-color);
}

.search-box input {
  outline: none;
}

.search-box input::placeholder {
  color: var(--primary-color);
}

.list-result {
  width: 65%;
  max-height: 400px;
  overflow-y: auto;
}

.list-result li {
  padding: 4px 6px;
}

.list-result li:hover {
  background-color: #eee;
  cursor: pointer;
}

.search-icon {
  background-color: var(--white-color);
  color: var(--primary-color);
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-icon:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Detail col */
.bg-image {
  background: url("https://images.pexels.com/photos/7864982/pexels-photo-7864982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat;
  background-position: center;
  background-size: cover;
}

.card-img-overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s;
}

.card-img-overlay:hover {
  opacity: 1;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.infor-img {
  width: 280px;
  height: auto !important;
  border-radius: 4px;
  float: right;
}

.custom-btn {
  width: 40%;
}

#province_list a {
  color: var(--dark-color);
}

#province_list a:hover {
  color: var(--lighter-primary-color);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .position-fixed {
    position: static !important;
  }
}
