main {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: var(--text-color);
}

.list-group-item.active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-control:focus {
  box-shadow: none;
}

/* Dropdown */
.wrapper {
  width: 260px;
}

.wrapper .content {
  display: none;
}

.wrapper.active .content {
  display: block;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.search i {
  left: 4px;
  color: #999;
  line-height: 42px;
}

.search input {
  padding-left: 36px;
  width: 100%;
  outline: none;
}

.options {
  max-height: 100px;
  overflow-y: auto;
}

.options li {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.options li:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

.options::-webkit-scrollbar-track {
  display: none;
}

.select-btn i {
  transition: transform 0.3s linear;
}

.form-information {
  display: none;
}

.form-information.active {
  display: block;
}

#img-preview {
  width: 280px;
  height: auto !important;
  border-radius: 4px;
}
