.footer-wave-img {
  width: 100%;
}

.footer {
  padding: 1.5rem;
}

.footer i {
  font-size: 1.1rem;
}

.footer-socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--dark-color);
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.last-footer p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
